/* Estilo padrão da barra lateral retraída */
.Sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 60px; /* Largura retraída */
    height: 100vh;
    padding: 10px 0;
    transition: width 0.3s ease; /* Animação ao expandir/retrair */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-left: 5px;
}

/* Expande a barra lateral ao passar o mouse */
.Sidebar:hover {
    width: 250px; /* Largura expandida */
    border-left: 5px;
}

.Sidebar-header{
    margin-bottom: 20px;
}

.Sidebar nav ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0;
    margin: 0;
    border-left: 5px;
}

.Sidebar nav ul li {
    margin: 20px 0; /* Espaçamento entre os itens */
    border-left: 5px;
}

/* Ajusta os itens do menu no modo retraído */
.Sidebar nav ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #114934; /* Cor dos links */
    font-size: 16px; /* Tamanho da fonte */
    display: flex; /* Para alinhar ícones e texto */
    align-items: center;
    gap: 15px; /* Espaçamento entre o ícone e o texto */
    justify-content: center; /* Centraliza os ícones no modo retraído */
    transition: justify-content 0.3s ease, color 0.3s ease;
    padding: 10px;;
}

/* Mostra o texto dos itens ao expandir */
.Sidebar:hover nav ul li a {
    justify-content: flex-start; /* Alinha os ícones e texto ao expandir */
    color: #114934;
    margin-left: 7px;
}

.Sidebar nav ul li a span {
    display: none; /* Esconde o texto no modo retraído */
    margin-left: 10px;
}

/* Mostra o texto dos itens ao expandir */
.Sidebar:hover nav ul li a span {
    display: inline; /* Mostra o texto */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Sidebar nav ul li a:hover {
    color: #00b894; /* Cor ao passar o mouse */
}


/* Ajusta o logo para o modo retraído */
.Sidebar-logo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    height: 100px;
    margin-left: 10px;
}

.Sidebar-logo img {
    width: 40px; /* Tamanho do logo no modo retraído */
    height: auto;
    transition: width 0.3s ease; /* Animação ao expandir/retrair */
}

.Sidebar-logo p {
    font-size: 16px;
    color: #114934;
    margin: 0;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0; /* Esconde o texto no modo retraído */
    transition: opacity 0.3s ease; /* Animação ao expandir/retrair */
    white-space: nowrap; /* Impede quebra de linha */
    overflow: hidden; /* Esconde o texto que ultrapassa */
}

/* Mostra o texto do logo ao expandir */
.Sidebar:hover .Sidebar-logo p {
    opacity: 1; /* Mostra o texto */
    margin-left: 10px; /* Adiciona espaço entre o logo e o texto */
}

